<h3> That's the show page </h3>

<h2> <%= @student.fname %> </h2>
<h2> <%= @student.lname %> </h2>

<h3> <%= link_to "Edit Record", edit_student_path  %> </h3>

<h3> <%= link_to "Return to index", students_path %> </h3>